page-cours {
  #clockIcone{
    font-size: 20px;
    color : white;
    margin: 10px;
  }
  #diffIcone{
    font-size: 20px;
    margin: 10px;
    color: #f44336;
  }

  #fillIcone{
    font-size: 20px;
    margin: 10px;
    color: white;
  }

}
