page-cours {
  #clockIcone{
    font-size: 20px;
    color : white;
    margin: 10px;
  }
  #diffIcone{
    font-size: 20px;
    margin: 10px;
    color: #f44336;
  }

  #fillIcone{
    font-size: 20px;
    margin: 10px;
    color: white;
  }
  .slide-zoom{
    height:100%;
    overflow-y: auto;
  }
  .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
  }

}
