<!--
  Generated template for the CoursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cours</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #424242">
  <ion-slides pager	no-padding no-margin>
    <ion-slide>
      <h1 style="color: white" text-center>{{cours?.titre}}</h1>
      <h6 style="color: white" text-center>{{cours?.id}}</h6>
      <div text-center>
        <ion-icon name="md-stopwatch" id="clockIcone">&nbsp;{{cours?.duree}}&nbsp;min</ion-icon>
      </div>
      <div text-center>
        <ion-icon *ngFor="let d of difficulte" name="egg" id="diffIcone"></ion-icon>
        <ion-icon *ngFor="let d of fill" name="egg" id="fillIcone"></ion-icon>
      </div>
      <p style="color: white">
        Resume de cours du cloud
      </p>
    </ion-slide>
    <ion-slide *ngIf="cours?.related_quizzes?.length > 0">
      <ion-grid>
        <ion-row no-padding>
          <ion-col no-padding no-margin>
            <div *ngFor="let quiz of cours?.related_quizzes; let i = index; let o=odd;" [hidden]="o">
              <ion-card  no-padding (tap)="toQuiz($event,quiz.id,i)" [ngStyle]="{'background-color': quiz?.color}">
                <ion-card-content>
                  <p text-center style="color: white">quiz&nbsp;{{i+1}}</p>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
          <ion-col no-padding no-margin>
            <div *ngFor="let quiz of cours?.related_quizzes ; let i = index; let e=even;" [hidden]="e">
              <ion-card  no-padding (tap)="toQuiz($event,quiz.id,i)" [ngStyle]="{'background-color': quiz.color}">
                <ion-card-content>
                  <p text-center style="color: white">quiz&nbsp;{{i+1}}</p>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>

</ion-content>
<ion-footer no-shadow no-padding no-margin>
    <button ion-button full (click)='toCards()' no-padding no-margin style="background-color: #f44336">Start Cours!</button>
</ion-footer>
