<ion-header  style="background: #424242 !important">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #424242">
  <ion-searchbar></ion-searchbar>
  <ion-grid>
    <ion-row no-padding>
      <ion-col no-padding no-margin>
        <div *ngFor="let cours of Courses; let i = index; let o=odd;" [hidden]="o">
          <ion-card  no-padding (tap)="tapEvent($event,cours.id)" [ngStyle]="{'background-color': cours.color}">
            <ion-card-content>
              <p text-center style="color: white">{{cours.titre}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col no-padding no-margin>
        <div *ngFor="let cours of Courses; let i = index; let e=even;" [hidden]="e">
          <ion-card  no-padding (tap)="tapEvent($event,cours.id)" [ngStyle]="{'background-color': cours.color}">
            <ion-card-content>
              <p text-center style="color: white">{{cours.titre}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
